
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 
/* -------------------------dont touch its used as css file for admission page-----------------------------*/ 

*{
	margin: 0;
	padding: 0;
}

/* ---------------------------------header-------------------------------------*/

#header{
	margin: 5px;
	background-color: #D24710;
	border-radius: 10px;
}

#header .img1{
	margin: 2px;
}

#header .img1 img{
	padding: 25px 0px 0px 10px;
}

#header .text{
	margin: -10vh 0vh 0vh 69vh;
}

#header .text h2{
	color: #FCAD72;
	padding-left: 11vw;
}

#header .text h3{

	padding-left: 3vw;
	padding-bottom: 10px;
	animation: effect 2s linear infinite;
}

/*-------------------------------------Navigation bar-------------------------------------*/

#left_navigation_bar{
	background-color: #5D5555;
	margin: 3vh 82vw 0vh 1vh;
	border-radius: 5px;
}
#left_navigation_bar p{
	padding-top: 4vh;
	padding-left: 4vw;
	font-size: 20px;
	color: #DCC9EB;
}

#left_navigation_bar #contents{
	margin: 5vh 0vh 0vh 4vh;
}

#left_navigation_bar #contents a{
	color: whitesmoke;
	font-size: 20px;
	text-decoration: none;
}

#left_navigation_bar #contents .active{
	background-color: #9A9F9E;
	padding: 1vh 9vh 1vh 3vh;
	color: whitesmoke;
	border-radius: 5px;
	font-size: 20px;
	text-decoration: none;
}

#left_navigation_bar #contents a i{
	padding-right: 7px;
	padding-bottom: 25px;
}

#left_navigation_bar #Sign-Out{
	margin: 35vh 0vh 0vh 7vh;
}

#left_navigation_bar #Sign-Out a{
	text-decoration: none;
	font-size: 23px;
	color: #48F603;
}

#left_navigation_bar #Sign-Out .fas{
	padding-right: 10px;
	padding-bottom: 20px;
}


@keyframes effect{
	0%{
		color: #F7F40E;
	}
	30%{
		color: #FCFAFA;
	}
	50%{
		color: #F7F40E;
	}
	100%{
		color: #FCFAFA;
	}
}

#header .img2{
	position: absolute;
	margin: -13vh 0vh 0vh 92vw;
}

/*-------------------------------------courses offered-------------------------------------*/

#display{
	overflow: hidden;
	margin: -80vh 0vh 0vh 20vw;
	position: absolute;
}

#courses{
	margin: 0vh 0vw 0vh 31vw;
}

#courses h1{
	padding: 3vh 0vh 0vh 0vw;
}
